remote_state {
  backend = "s3"
  generate = {
    path      = "backend.tf"
    if_exists = "overwrite_terragrunt"
  }
  config = {
    # RENAME to your state bucket, can be re-used by multiple modules
    bucket = "terraform-state-bucket"
    # RENAME sinworldservice in case multiple services pull the sinworld module
    key = "sinworldservice/${path_relative_to_include()}/terraform.tfstate"
    region         = "us-east-1"
    encrypt        = true
  }
}

generate "provider" {
  path = "provider.tf"
  if_exists = "overwrite_terragrunt"
  contents = <<EOF
provider "aws" {
  region = "us-east-1"
}
EOF
}

# these can be referenced by any child modules
inputs = {
  aws_region = "us-east-1"
  domain_base = "staging.myspace.com" # RENAME - used by certificate and route53
}
