include "root" {
  path = find_in_parent_folders()
}
terraform {
  source = "git@github.com:ckhsponge/ckhtech-modules.git//sinworld?ref=v1.3"
  before_hook "before_hook_1" {
    commands = ["apply"]
    execute  = ["rbenv", "exec", "bundle", "config", "set", "--local", "path", "app/vendor/bundle"]
  }

  before_hook "before_hook_2" {
    commands = ["apply"]
    execute  = ["rbenv", "exec", "bundle", "install"]
  }
}

inputs = {
  aws_region                   = "us-east-1"
  # certificate must cover the host_name e.g. [mydomain.com, *.mydomain.com] covers sin.mydomain.com
  host_name                    = "sin.mydomain.com" # RENAME - primary host name for service
  service                      = "sinworld" # name of service, appears on AWS resources
  create_codecommit_repository = false
  create_certificate           = false # will try to lookup certificate for mydomain.com if not created here
  create_email_server          = false
  create_dynamodb              = true
  create_static_bucket         = true
  create_files_bucket          = false
  create_files_resizer         = false # image resizer on the files bucket

#  redirect_host_names          = ["mydomain.com"] # these will redirect to host_name
}
