body {
    font-family: "Comic Sans MS";
    color: yellow;
    background-color: black;
}

.container {
}

.sin-date {
    color: gray;
    font-size: 0.75em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    text-align: center;
    font-size: x-large;
    padding: 50px;
}

.center-text {
    text-align: center;
}

.page-thumbnail {
    height: 64px;
    width: 64px;
}
